{% extends 'BlogBundle::catalogueLayout.html.twig' %}

{% block title %}
    Accueil -{{ parent() }}
{% endblock%}
{% block catalogue_body %}
 
 
    {% include "BlogBundle:Catalogue:layout/menu.html.twig" %}
    
    
   <table class="table" color=#DDD>
    <tr>
   <ul>
       <div class="row">
        {% for produit  in produits %}
        <div class="col-xs-4"><img src="" alt="image1" width="50" height="50"></div>
        <div class="col-xs-4">{{  produit.description  }}</div>
        <div class="col-xs-4">{{ produit.prix}}, {{ produit.poids }} <p><a class="btn btn-primary btn-large" href="{{ path('blog_cataloguePrestation', {'id' : produit.id })}}"> En savoir plus >> </a></p></div>
       {% endfor %}
       </div>
      
   </tr>
    </table>
   <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4"></div>
         <div class="col-xs-4">
      <ul class="pagination">
       <li><a href="#">&laquo;</a></li>
       <li><a href="#">1</a></li>
       <li><a href="#">2</a></li>
       <li><a href="#">3</a></li>
       <li><a href="#">4</a></li>
       <li><a href="#">5</a></li>
       <li><a href="#">&raquo;</a></li>
      </ul>
        
     </div>
   </div>
 {% endblock %}


