<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
            {% endblock %}
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

   
  </head>

  <body>
 
   

 {% set page = { title: 'About',
                 subtitle: 'About Mijingo',
                 slug: 'about'}
 %}

{{ page.title }}

<hr>

{% set nav={
     about: { title: "The Brewery", desc: "About Us"},
     services: { title: "How It's Made", desc: "Services"},
     work: { title: "What's on Tap", desc: "Our Work" },
     news: { title: "Brew New", desc: "The Latest"},
}%}

{{ nav.about.title }}

<hr>
<nav>
    <ul>
        {% for item in nav %}
            <li>{{ item.title }}</li>
        {% endfor %}
    </ul>
</nav>
<hr>

<nav>
    
    <ul>
        {% for slug, item in nav %}
            <li><a href="/{{ slug }}">{{ item.title }}</a></li>
        {% endfor %}
    </ul>
</nav>

<hr>
<ul class="nav nav-pills nav-stacked">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Profile</a></li>
  <li><a href="#">Messages</a></li>
</ul>

<hr>
<form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>



    <!-- Main jumbotron for a primary marketing message or call to action -->
    
  

   {% block body %}
       <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
       <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
   {% endblock %}
      <hr>
      <footer>
        <p>&copy; Sky</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    {% endblock %}
  </body>
</html>